@{
    ViewData["Title"] = "Home Page";
}

<div class="hero">
    <div class="hero-text">
        <h1>Національний архів історії України</h1>
    </div>
</div>

@section Styles {
    <style>
        body {
            background-image: url('/images/background.jpg');
            background-size: cover;
        }
    </style>
}