@model ArchiveDomain.Model.DocumentType

@{
    ViewData["Title"] = "Видалити тип документа";
}

<h1 class="mb-4 text-center text-danger">Видалити тип документа</h1>

<div class="bg-white blur-box p-4 rounded shadow col-md-6 mx-auto">
    <h5 class="mb-3 text-center">Ви впевнені, що хочете видалити цей тип?</h5>

    <dl class="row mb-4">
        <dt class="col-sm-4">Назва типу:</dt>
        <dd class="col-sm-8">@Model.Name</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="d-flex gap-2 justify-content-center">
            <button type="submit" class="btn btn-outline-danger btn-animated">Видалити</button>
            <a asp-action="Index" class="btn btn-outline-primary btn-animated">Скасувати</a>
        </div>
    </form>
</div>
