@model ArchiveDomain.Model.DocumentType

@{
    ViewData["Title"] = "Змінити тип документа";
}

<h1 class="mb-4 text-center">Редагування типу документа</h1>

<div class="bg-white blur-box p-4 rounded shadow col-md-6 mx-auto">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mb-3">
            <label asp-for="Name" class="form-label">Назва типу</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <input type="hidden" asp-for="Id" />

        <div class="d-flex gap-2 justify-content-center">
            <button type="submit" class="btn btn-outline-danger btn-animated">Зберегти</button>
            <a asp-action="Index" class="btn btn-outline-primary btn-animated">Скасувати</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
