@model ArchiveDomain.Model.Reservation

@{
    ViewData["Title"] = "Видалення бронювання";
}

<h1 class="mb-4 text-center text-danger">Видалити бронювання</h1>

<h5 class="text-center mb-4">Ви впевнені, що хочете видалити це бронювання?</h5>

<div class="bg-white blur-box p-4 rounded shadow mb-4">
    <dl class="row">
        <dt class="col-sm-3">Початок бронювання:</dt>
        <dd class="col-sm-9">@Model.ReservationStartDateTime.ToString("dd.MM.yyyy HH:mm")</dd>

        <dt class="col-sm-3">Завершення бронювання:</dt>
        <dd class="col-sm-9">@Model.ReservationEndDateTime?.ToString("dd.MM.yyyy HH:mm")</dd>
    </dl>
</div>

<div class="d-flex justify-content-center gap-3">
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-outline-danger btn-animated">Видалити</button>
    </form>
    <a asp-action="Index" class="btn btn-outline-primary btn-animated">Назад до списку</a>
</div>
