@model ArchiveDomain.Model.Reservation

@{
    ViewData["Title"] = "Видалення";
}

<h1>Видалити бронювання</h1>

<h3>Ви впевнені, що хочете видалити це бронювання?</h3>

<div>
    <h4>Інформація про бронювання</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt class="col-sm-2">
            Початок
        </dt>
        <dd class="col-sm-10">
            @Model.ReservationStartDateTime.ToString("g")
        </dd>

        <dt class="col-sm-2">
            Завершення
        </dt>
        <dd class="col-sm-10">
            @Model.ReservationEndDateTime?.ToString("g")
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-primary btn-animated" />
        <a asp-action="Index" class="btn btn-secondary btn-animated">← Назад до списку</a>
    </form>
</div>
