@model ArchiveDomain.Model.Reservation

@{
    ViewData["Title"] = "Деталі бронювання";
}

<h1>Деталі бронювання</h1>

<div>
    <h4>Бронювання</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Користувач
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt class="col-sm-2">
            Початок
        </dt>
        <dd class="col-sm-10">
            @Model.ReservationStartDateTime.ToString("g")
        </dd>

        <dt class="col-sm-2">
            Завершення
        </dt>
        <dd class="col-sm-10">
            @Model.ReservationEndDateTime?.ToString("g")
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary btn-animated">Редагувати</a>
    <a asp-action="Index" class="btn btn-secondary btn-animated">← Назад до списку</a>
</div>
