@model ArchiveDomain.Model.Reservation

@{
    ViewData["Title"] = "Редагувати бронювання";
}

<h1>Редагувати бронювання</h1>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="UserId" class="control-label">Користувач</label>
        <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ReservationStartDate" class="control-label">Дата початку</label>
        <input asp-for="ReservationStartDate" class="form-control" type="date" />
        <span asp-validation-for="ReservationStartDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ReservationEndDate" class="control-label">Дата завершення</label>
        <input asp-for="ReservationEndDate" class="form-control" type="date" />
        <span asp-validation-for="ReservationEndDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="documentInstanceIds" class="control-label">Зарезервовані екземпляри</label>
        <select name="documentInstanceIds" class="form-control" multiple="multiple" asp-items="ViewBag.DocumentInstances"></select>
    </div>

    <input type="hidden" asp-for="Id" />

    <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary">Зберегти</button>
        <a asp-action="Index" class="btn btn-secondary">Скасувати</a>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
