@{
    ViewData["Title"] = "Імпорт документів";
}

<h1 class="mb-4 text-center">Імпорт документів та екземплярів</h1>

<div class="bg-white blur-box p-4 rounded shadow">

    @* Повідомлення про помилки *@
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Помилка:</strong> @TempData["ErrorMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрити"></button>
        </div>
    }

    <form asp-action="Import" asp-controller="Documents" method="post" enctype="multipart/form-data" id="frm-excel">
        <div class="mb-3">
            <label for="fileExcel" class="form-label">Завантажте Excel-файл:</label>
            <input type="file" name="fileExcel" id="fileExcel" class="form-control" required />
        </div>

        <div class="d-flex gap-3">
            <button type="submit" class="btn btn-outline-danger btn-animated">Завантажити</button>
            <a asp-action="Index" class="btn btn-outline-primary btn-animated">Назад до списку</a>
        </div>
    </form>
</div>
