@model ArchiveDomain.Model.Category

@{
    ViewData["Title"] = "Видалити категорію";
}

<h1 class="mb-4 text-center">Видалити категорію документа</h1>

<h4 class="text-center text-danger mb-4">Ви впевнені, що хочете видалити цю категорію?</h4>

<div class="bg-white blur-box p-4 rounded shadow col-md-6 mx-auto">
    <dl class="row">
        <dt class="col-sm-4">Назва категорії:</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>
    </dl>

    @if (ViewData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">@ViewData["ErrorMessage"]</div>
    }

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="d-flex justify-content-center gap-3 mt-4">
            <button type="submit" class="btn btn-outline-danger btn-animated">Видалити</button>
            <a asp-action="Index" class="btn btn-outline-primary btn-animated">Скасувати</a>
        </div>
    </form>
</div>
