@model ArchiveDomain.Model.Author

@{
    ViewData["Title"] = "Видалити автора";
}

<h1 class="mb-4 text-center">Видалити автора</h1>

<div class="bg-white blur-box p-4 rounded shadow col-md-6 mx-auto">
    <h4 class="mb-3 text-danger">Ви впевнені, що хочете видалити цього автора?</h4>

    <dl class="row mb-4">
        <dt class="col-sm-4">Ім’я автора:</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="d-flex justify-content-center gap-3">
            <button type="submit" class="btn btn-outline-danger btn-animated">Видалити</button>
            <a asp-action="Index" class="btn btn-outline-primary btn-animated">Скасувати</a>
        </div>
    </form>
</div>
