@model ArchiveInfrastructure.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="container mx-auto">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">

            <h1 class="mt-5 mb-3 h3">Login</h1>

            <form asp-action="Login" method="post">
                <input type="hidden" asp-for="ReturnUrl" />
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control" asp-for="Email" />
                </div>

                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" asp-for="Password" />
                </div>

                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" asp-for="RememberMe" />
                    <label class="form-check-label" for="RememberMe">Remember Me</label>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn bg-danger text-bg-success text-light">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>